aiohttp==3.4.4
async-timeout==3.0.0
atomicwrites==1.2.1
attrs==18.2.0
boto3==1.9.8
botocore==1.12.8
certifi==2022.12.7
chardet==3.0.4
click==6.7
cookies==2.2.1
coverage==4.5.1
docutils==0.14
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
Logbook==1.4.0
MarkupSafe==1.0
more-itertools==4.3.0
multidict==4.4.1
pluggy==0.7.1
py==1.6.0
pytest==3.8.0
pytest-cov==2.6.0
python-dateutil==2.7.3
PyYAML==3.13
requests==2.19.1
responses==0.9.0
s3transfer==0.1.13
six==1.11.0
tqdm==4.26.0
undecorated==0.3.0
urllib3==1.23
utils==0.9.0
Werkzeug==0.14.1
yarl==1.2.6
