{% extends "dashboard-base.html" %}
{% block content %}

    <!-- some header -->
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Account Management</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- some header -->

    <!-- some content -->
    <div class="content mt-3">
        <div class="col-sm-12">
            <div class="card">
                      <div class="card-header">
                        <strong>Register User</strong>
                      </div>
                      <div class="card-body card-block">
                        <form action="" method="post" class="form-horizontal">
                          <div class="row form-group">
                            <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Username</label></div>
                            <div class="col-12 col-md-10"><input type="email" id="hf-email" name="hf-email" placeholder="Enter Username..." class="form-control"></div>
                          </div>
                          <div class="row form-group">
                            <div class="col col-md-2"><label for="hf-password" class=" form-control-label">Password</label></div>
                            <div class="col-12 col-md-10"><input type="password" id="hf-password" name="hf-password" placeholder="Enter Password..." class="form-control"></div>
                          </div>
                            <div class="row form-group">
                                <div class="col col-md-2"><label for="select" class=" form-control-label">User Role</label></div>
                                <div class="col-12 col-md-10">
                                  <select name="select" id="select" class="form-control">
                                    <option value="0">Please select</option>
                                    <option value="1">Admin</option>
                                    <option value="2">Call Operator</option>
                                    <option value="3">Government Agency</option>
                                  </select>
                                </div>
                            </div>
                        </form>
                      </div>
                      <div class="card-footer">
                        <button type="submit" class="btn btn-success btn-sm">
                          <i class="fa fa-dot-circle-o"></i> Register
                        </button>
                      </div>
                    </div>
        </div>
    </div>
    <!-- some content -->

{% endblock %}